@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');

.InProgress {
    font-family: 'Lexend Zetta', sans-serif;
    text-align: center;
    background-image: url('../../../assets/hummingbird-logo.png');
}
