.Resume {
    a {
        align-items: center;
        border: 1px solid black;
        border-radius: 50%;
        color: black;
        display: flex;
        height: 100px;
        font-size: 1.2em;
        font-weight: bold;
        justify-content: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 100px;

        &:hover {
            background-color: #edf8fb;
        }
    }
}
