.linkList {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.navLink {
    color: inherit;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 5em;

    &:hover {
        font-weight: bold;
    }

    &.current {
        outline: 1px solid black;
    }
}